@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul,
ol {
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#wrap {
  width: 100%;
}

header {
  max-width: 1912px;
  height: 170px;
  margin: 0 auto;
}
header .up-header {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
header .up-header img {
  width: 102px;
  height: auto;
  margin-left: 30%;
}
header .up-header div {
  display: flex;
}
header .up-header div ul {
  display: flex;
}
header .up-header div ul li {
  margin: 0 10px;
}
header .up-header div ul li a {
  color: #999;
  font-size: 14px;
}
header .up-header div select {
  width: 95px;
  height: 28px;
  margin-left: 10px;
  padding: 0 5px;
  font-size: 12px;
  border: 0.5px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
header .main-menu {
  max-width: 1912px;
  height: 70px;
  margin: 0 auto;
}
header .main-menu div {
  width: 1280px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdff;
}
header .main-menu div img[alt=메뉴] {
  width: 32px;
  height: auto;
}
header .main-menu div img {
  width: 30px;
  height: auto;
}
header .main-menu div .main-nav1 > ul,
header .main-menu div .main-nav2 > ul {
  display: flex;
  align-items: center;
}
header .main-menu div .main-nav1 ul img[alt=인디펍] {
  width: 80px;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi1 {
  position: relative;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox {
  width: 150px;
  height: auto;
  position: absolute;
  top: 28px;
  left: -15px;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 999;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox li {
  position: relative;
  width: 148px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 14px;
  padding: 5px 12px 5px;
  cursor: pointer;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox li .menuBox {
  position: absolute;
  top: 5px;
  left: 100%;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox li:hover {
  color: #222;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox li:hover .menuBox {
  display: block;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox li .menu-next {
  font-size: 11px;
}
header .main-menu div .main-nav1 ul .menuLi1 .menuBox li:not(:first-child) {
  margin: 0;
}
header .main-menu div .main-nav1 ul .menuLi1:hover .menuBox {
  display: block;
}
header .main-menu div .main-nav1 ul .menuLi2 {
  position: relative;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox {
  width: 150px;
  height: auto;
  position: absolute;
  top: 28px;
  left: -15px;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 999;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox li {
  position: relative;
  width: 148px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 14px;
  padding: 5px 12px 5px;
  cursor: pointer;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox li .menuBox {
  position: absolute;
  top: -1px;
  left: 100%;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox li:hover {
  color: #222;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox li:hover .menuBox {
  display: block;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox li .menu-next {
  font-size: 11px;
}
header .main-menu div .main-nav1 ul .menuLi2 .menuBox li:not(:first-child) {
  margin: 0;
}
header .main-menu div .main-nav1 ul .menuLi2:hover .menuBox {
  display: block;
}
header .main-menu div .main-nav1 ul .menuLi3, header .main-menu div .main-nav1 ul .menuLi4 {
  position: relative;
}
header .main-menu div .main-nav1 ul .menuLi3 .menuBox, header .main-menu div .main-nav1 ul .menuLi4 .menuBox {
  width: 150px;
  height: auto;
  position: absolute;
  top: 28px;
  left: -15px;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 999;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi3 .menuBox li, header .main-menu div .main-nav1 ul .menuLi4 .menuBox li {
  position: relative;
  width: 148px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 14px;
  padding: 5px 12px 5px;
  cursor: pointer;
}
header .main-menu div .main-nav1 ul .menuLi3 .menuBox li .menuBox, header .main-menu div .main-nav1 ul .menuLi4 .menuBox li .menuBox {
  position: absolute;
  top: -1px;
  left: 100%;
  display: none;
}
header .main-menu div .main-nav1 ul .menuLi3 .menuBox li:hover, header .main-menu div .main-nav1 ul .menuLi4 .menuBox li:hover {
  color: #222;
}
header .main-menu div .main-nav1 ul .menuLi3 .menuBox li:not(:first-child), header .main-menu div .main-nav1 ul .menuLi4 .menuBox li:not(:first-child) {
  margin: 0;
}
header .main-menu div .main-nav1 ul .menuLi3:hover .menuBox, header .main-menu div .main-nav1 ul .menuLi4:hover .menuBox {
  display: block;
}
header .main-menu div .main-nav1 li:first-child {
  margin-right: 15px;
}
header .main-menu div .main-nav1 li:not(:first-child) {
  margin: 0 15px;
}
header .main-menu div .main-nav1 a {
  color: #222;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}
header .main-menu div .main-nav2 li {
  margin: 0 10px;
}
header .main-menu div .main-nav2 li:last-child {
  margin-right: 0px;
}

footer {
  max-width: 1912px;
  height: 320px;
  margin: 0 auto;
  background-color: #012748;
}

.footerContent {
  width: 1252px;
  height: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footerContent .footerBox1 {
  width: 788px;
  height: 190px;
  padding: 0 10% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footerContent .footerBox1 a,
.footerContent .footerBox1 span,
.footerContent .footerBox1 p {
  color: #fff;
}
.footerContent .footerBox1 .footerNav > ul {
  display: flex;
}
.footerContent .footerBox1 .footerNav > ul li {
  margin-right: 10px;
  text-align: center;
}
.footerContent .footerBox1 .footerNav > ul li span {
  font-weight: 700;
}
.footerContent .footerBox1 .footerNav > ul li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
}
.footerContent .footerBox1 .footerText1 {
  font-size: 14px;
  line-height: 1.5;
}
.footerContent .footerBox1 .footerText1 span:not(:last-child)::after {
  content: "|";
  color: #fff;
  font-size: 13px;
  margin-left: 5px;
}
.footerContent .footerBox1 .footerText2 {
  font-size: 11px;
}
.footerContent .footerBox2 {
  width: 262px;
  height: 190px;
  padding-right: 3%;
}
.footerContent .footerBox2 img[alt=인스타] {
  width: 22px;
  height: 22px;
}
.footerContent .footerBox2 p,
.footerContent .footerBox2 ul > li,
.footerContent .footerBox2 a {
  color: #fff;
}
.footerContent .footerBox2 p {
  font-size: 18px;
  font-weight: 800;
}
.footerContent .footerBox2 a {
  font-size: 23px;
  margin-top: 6%;
  margin-bottom: 8%;
  display: flex;
  align-items: start;
  gap: 8px;
}
.footerContent .footerBox2 li:last-child {
  font-size: 12.7px;
}
.footerContent .footerBox3 {
  width: 200px;
  height: 190px;
}
.footerContent .footerBox3 p,
.footerContent .footerBox3 a {
  color: #fff;
}
.footerContent .footerBox3 p {
  font-size: 18px;
  font-weight: 800;
}
.footerContent .footerBox3 .footerBox3-menu {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  padding-right: 22%;
  font-size: 14px;
}
.footerContent .footerBox3 .footerBox3-menu li {
  padding: 5% 0;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header .main-menu {
  border-bottom: 1px solid #ddd;
}

#contents {
  max-width: 1912px;
  margin: 0 auto;
}
#contents .bookDetail_wrap {
  width: 1280px;
  height: 624px;
  margin: 60px auto;
}
#contents .bookDetail_wrap .detail {
  width: 1252px;
  height: 624px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#contents .bookDetail_wrap .detail .bigImgBox {
  width: 624px;
  height: 624px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 15px;
  perspective: 1000px;
  cursor: pointer;
}
#contents .bookDetail_wrap .detail .bigImgBox .hoverBox {
  width: 400px;
  height: 460.64px;
  position: absolute;
  top: 81.68px;
  left: 112px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}
#contents .bookDetail_wrap .detail .bigImgBox .hoverBox::before {
  content: "";
  width: 55px;
  height: 460.64px;
  position: absolute;
  left: 0;
  background-image: url(../img/푸바오옆면.jpg);
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
}
#contents .bookDetail_wrap .detail .bigImgBox .hoverBox img {
  width: 400px;
  height: 460.64px;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform: rotateY(0deg);
  box-shadow: 10px 10px 10px #b8b8b8;
}
#contents .bookDetail_wrap .detail .bigImgBox .hoverBox::after {
  content: "";
  width: 400px;
  height: 460.64px;
  position: absolute;
  background-image: url(../img/푸바오뒷면.jpg);
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(55px);
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px #b8b8b8;
}
#contents .bookDetail_wrap .detail .bigImgBox .hoverBox:hover {
  transform: rotateY(35deg);
  cursor: url(../img/ico_flip.svg), pointer !important;
}
#contents .bookDetail_wrap .detail .bigImgBox .hoverBox.rotate {
  transform: rotateY(180deg);
  cursor: url(../img/ico_flip.svg), pointer !important;
}
#contents .bookDetail_wrap .detail .detail_font {
  width: 510px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#contents .bookDetail_wrap .detail .detail_font h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
#contents .bookDetail_wrap .detail .detail_font span {
  position: relative;
  font-size: 14px;
  padding: 10px 0;
  line-height: 30px;
  cursor: pointer;
}
#contents .bookDetail_wrap .detail .detail_font span .fi-sr-star {
  color: #ddd;
}
#contents .bookDetail_wrap .detail .detail_font span .fi-rs-heart,
#contents .bookDetail_wrap .detail .detail_font span .fi-rs-share {
  position: absolute;
  top: 10px;
  font-size: 24px;
  color: #555;
}
#contents .bookDetail_wrap .detail .detail_font span .fi-ss-heart {
  position: absolute;
  top: 10px;
  right: 10%;
  font-size: 24px;
  color: tomato;
}
#contents .bookDetail_wrap .detail .detail_font span .fi-rs-share {
  right: 2%;
}
#contents .bookDetail_wrap .detail .detail_font span .fi-rs-heart {
  right: 10%;
}
#contents .bookDetail_wrap .detail .detail_font hr {
  border: 1px solid #e5e5e5;
}
#contents .bookDetail_wrap .detail .detail_font table tr {
  text-align: left;
  font-size: 13px;
  line-height: 30px;
  color: #555;
}
#contents .bookDetail_wrap .detail .detail_font table tr h4 {
  font-size: 14px;
  font-weight: 600;
  color: #18a9f1;
}
#contents .bookDetail_wrap .detail .detail_font .total {
  height: 72px;
  background-color: #fafafa;
  padding: 0 15px;
}
#contents .bookDetail_wrap .detail .detail_font .total tr {
  color: #000;
}
#contents .bookDetail_wrap .detail .detail_font .total tr h4 {
  color: #000;
}
#contents .bookDetail_wrap .detail .detail_font .total tr span {
  width: 103px;
  padding: 0;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background-color: #fff;
}
#contents .bookDetail_wrap .detail .detail_font .total tr span input {
  width: 45px;
  height: 28px;
  border: none;
  text-align: center;
  cursor: default;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  font-weight: 500;
  font-size: 14px;
}
#contents .bookDetail_wrap .detail .detail_font .total tr span .fi-rs-minus-small,
#contents .bookDetail_wrap .detail .detail_font .total tr span .fi-rs-plus-small {
  font-size: 15px;
  line-height: 15px;
}
#contents .bookDetail_wrap .detail .detail_font .dm {
  width: 100%;
  height: 87px;
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
}
#contents .bookDetail_wrap .detail .detail_font .dm .dmpan1 {
  width: 42px;
  height: 42px;
  padding: 0;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  border-radius: 50%;
  cursor: default;
}
#contents .bookDetail_wrap .detail .detail_font .dm .dmpan1 .fi-ts-shipping-fast {
  font-size: 20px;
  line-height: 0px;
  color: #fff;
}
#contents .bookDetail_wrap .detail .detail_font .dm p {
  font-size: 13px;
}
#contents .bookDetail_wrap .detail .detail_font .dm p b {
  font-weight: 600;
}
#contents .bookDetail_wrap .detail .detail_font .dm p .dmpan2 {
  color: #18a9f1;
  font-size: 13px;
  font-weight: 600;
  cursor: default;
}
#contents .bookDetail_wrap .detail .detail_font .dm2 {
  width: 100%;
}
#contents .bookDetail_wrap .detail .detail_font .dm2 p {
  font-size: 13px;
}
#contents .bookDetail_wrap .detail .detail_font .dm2 p span {
  color: #888;
}
#contents .bookDetail_wrap .detail .detail_font .dm2 p .fi-rs-interrogation {
  font-size: 12px;
  cursor: pointer;
}
#contents .bookDetail_wrap .detail .detail_font .dm3 {
  padding: 10px 0;
}
#contents .bookDetail_wrap .detail .detail_font .dm3 p {
  font-size: 15px;
  text-align: right;
}
#contents .bookDetail_wrap .detail .detail_font .dm3 p span {
  font-size: 20px;
  font-weight: 700;
  cursor: default;
}
#contents .bookDetail_wrap .detail .detail_font .dm3 p .dm3span {
  font-size: 14px;
  font-weight: 500;
  color: #7d7d7d;
  cursor: default;
}
#contents .bookDetail_wrap .detail .detail_font .dmBtn {
  width: 100%;
  height: 58px;
  text-align: right;
}
#contents .bookDetail_wrap .detail .detail_font .dmBtn .dmBtn1 {
  width: 220px;
  height: 100%;
  color: #555;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}
#contents .bookDetail_wrap .detail .detail_font .dmBtn .dmBtn1:hover {
  border: 1px solid #000;
}
#contents .bookDetail_wrap .detail .detail_font .dmBtn .dmBtn1 .fi-ts-shopping-cart {
  font-size: 15px;
}
#contents .bookDetail_wrap .detail .detail_font .dmBtn .dmBtn2 {
  width: 275.8px;
  height: 100%;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  background-color: #012748;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#contents .suggest {
  width: 1280px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
#contents .suggest:hover .suggest-prevBox,
#contents .suggest:hover .suggest-nextBox {
  opacity: 1;
  pointer-events: auto;
}
#contents .suggest p {
  font-family: "S-CoreDream-3Light";
  font-weight: 900;
  padding-left: 20px;
}
#contents .suggest .suggest-swiper {
  width: 1252px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#contents .suggest .suggest-swiper .suggest-wrapper {
  width: 5500px;
  height: 100%;
  display: flex;
  align-items: center;
}
#contents .suggest .suggest-swiper .suggest-wrapper .suggest-slide {
  width: 160px;
  height: 230px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
#contents .suggest .suggest-swiper .suggest-wrapper .suggest-slide:hover .suggest-imgBox img {
  transform: scale(1.05);
}
#contents .suggest .suggest-swiper .suggest-wrapper .suggest-slide .suggest-imgBox {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
#contents .suggest .suggest-swiper .suggest-wrapper .suggest-slide .suggest-imgBox img {
  width: 85px;
  height: auto;
  transition: transform 0.3s ease;
}
#contents .suggest .suggest-swiper .suggest-wrapper .suggest-slide p {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#contents .suggest .suggest-swiper .suggest-wrapper .suggest-slide h6 {
  padding: 0 10px;
  font-size: 13px;
  font-weight: 500;
  color: #18a9f1;
}
#contents .suggest .suggest-prevBox,
#contents .suggest .suggest-nextBox {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.6117647059);
  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(226, 226, 226, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  cursor: pointer;
}
#contents .suggest .suggest-prevBox .suggest-prev,
#contents .suggest .suggest-prevBox .suggest-next,
#contents .suggest .suggest-nextBox .suggest-prev,
#contents .suggest .suggest-nextBox .suggest-next {
  font-size: 20px;
  color: #a3a3a3;
  line-height: 0;
}
#contents .suggest .suggest-nextBox {
  right: 0;
}
#contents .inner-menu {
  width: 1280px;
  height: 70px;
  margin: 0 auto;
  margin-top: 60px;
}
#contents .inner-menu .inner-menu__wrapper {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
#contents .inner-menu .inner-menu__wrapper.fixed {
  width: 1280px;
  height: 70px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 999;
  background-color: #fff;
}
#contents .inner-menu .inner-menu__wrapper ul {
  width: 100%;
  height: 100%;
  display: flex;
}
#contents .inner-menu .inner-menu__wrapper ul li {
  width: 320px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}
#contents .inner-menu .inner-menu__wrapper ul li a {
  color: #000;
  text-decoration: none;
}
#contents .inner-menu1 {
  width: 1280px;
  margin: 0 auto;
}
#contents .inner-menu1 hr {
  border: 1px solid #e5e5e5;
}
#contents .inner-menu1 h3 {
  font-size: 18px;
  font-weight: 700;
  color: #18a9f1;
}
#contents .inner-menu1 .inner-txt1 {
  margin: 30px 0;
}
#contents .inner-menu1 .inner-txt1 table {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
#contents .inner-menu1 .inner-txt1 table th,
#contents .inner-menu1 .inner-txt1 table td {
  border: 1px solid #e5e5e5;
}
#contents .inner-menu1 .inner-txt1 table th {
  width: 200px;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f9f9f9;
}
#contents .inner-menu1 .inner-txt1 table td {
  width: 300px;
  height: 35px;
  padding-left: 20px;
  font-size: 13px;
}
#contents .inner-menu1 .inner-txt2 {
  margin: 30px 0;
}
#contents .inner-menu1 .inner-txt2 h5 {
  margin: 20px 0;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
#contents .inner-menu1 .inner-txt2 p {
  color: #555;
  font-size: 15px;
  margin: 10px 0;
}
#contents .inner-menu1 .inner-txt3 {
  margin: 30px 0;
}
#contents .inner-menu1 .inner-txt3 p {
  margin: 20px 0;
  color: #555;
  font-size: 15px;
}
#contents .inner-menu1 .inner-txt3 p span {
  font-weight: 500;
}
#contents .inner-menu1 .inner-txt3 li {
  color: #555;
  font-size: 15px;
}
#contents .inner-menu1 .inner-txt3 li span {
  font-weight: 500;
}
#contents .inner-menu1 .inner-txt4 {
  margin: 30px 0;
}
#contents .inner-menu1 .inner-txt4 div {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
#contents .inner-menu1 .inner-txt5 {
  margin-top: 30px;
  margin-bottom: 5%;
}
#contents .inner-menu1 .inner-txt5 .person1,
#contents .inner-menu1 .inner-txt5 .person2,
#contents .inner-menu1 .inner-txt5 .person3 {
  border: 2px solid #e5e5e5;
}
#contents .inner-menu1 .inner-txt5 .person1 h4,
#contents .inner-menu1 .inner-txt5 .person2 h4,
#contents .inner-menu1 .inner-txt5 .person3 h4 {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f3f3f3;
  border-bottom: 2px solid #e5e5e5;
}
#contents .inner-menu1 .inner-txt5 .person1 p,
#contents .inner-menu1 .inner-txt5 .person2 p,
#contents .inner-menu1 .inner-txt5 .person3 p {
  padding: 20px 10px;
  font-size: 15px;
}
#contents .inner-menu1 .inner-txt5 .person1 {
  margin-top: 20px;
  border-bottom: none;
}
#contents .inner-menu1 .inner-txt5 .person2 {
  border-bottom: none;
}
#contents .inner-menu2 {
  width: 1280px;
  margin: 0 auto;
}
#contents .inner-menu2 h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 22px;
  font-weight: 600;
}
#contents .inner-menu2 .menu2-txt1 h3,
#contents .inner-menu2 .menu2-txt2 h3,
#contents .inner-menu2 .menu2-txt3 h3 {
  font-size: 15px;
  font-weight: 600;
  color: #18a9f1;
}
#contents .inner-menu2 .menu2-txt1 table,
#contents .inner-menu2 .menu2-txt2 table,
#contents .inner-menu2 .menu2-txt3 table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5%;
  border: 1px solid #e5e5e5;
}
#contents .inner-menu2 .menu2-txt1 table th,
#contents .inner-menu2 .menu2-txt2 table th,
#contents .inner-menu2 .menu2-txt3 table th {
  width: 225px;
  height: 140px;
  border-right: 1px solid #e5e5e5;
  font-size: 15px;
  background-color: #f9f9f9;
}
#contents .inner-menu2 .menu2-txt1 table td,
#contents .inner-menu2 .menu2-txt2 table td,
#contents .inner-menu2 .menu2-txt3 table td {
  padding: 14px;
}
#contents .inner-menu2 .menu2-txt1 table td p,
#contents .inner-menu2 .menu2-txt1 table td li,
#contents .inner-menu2 .menu2-txt2 table td p,
#contents .inner-menu2 .menu2-txt2 table td li,
#contents .inner-menu2 .menu2-txt3 table td p,
#contents .inner-menu2 .menu2-txt3 table td li {
  font-size: 13px;
  color: #888;
}
#contents .inner-menu2 .menu2-txt1 table td li,
#contents .inner-menu2 .menu2-txt2 table td li,
#contents .inner-menu2 .menu2-txt3 table td li {
  margin: 5px 0;
}
#contents .inner-menu2 .menu2-txt1 p {
  padding: 10px 0;
}
#contents .inner-menu2 .menu2-txt3 span {
  font-size: 13px;
  font-weight: 700;
  color: #888;
}
#contents .inner-menu2 .menu2-txt3 p {
  margin-top: 4px;
}
#contents .inner-menu2 .menu2-txt3 p:first-of-type {
  margin-bottom: 10px;
}
#contents .inner-menu3 {
  width: 1280px;
  margin: 0 auto;
}
#contents .inner-menu3 .review-title {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #7d7d7d;
}
#contents .inner-menu3 .review-title .title1 h2 {
  font-size: 22px;
  font-weight: 700;
}
#contents .inner-menu3 .review-title .title-btn {
  display: flex;
  align-items: center;
}
#contents .inner-menu3 .review-title .title-btn p {
  font-size: 12px;
  font-weight: 500;
  color: #ff0000;
  margin-right: 10px;
}
#contents .inner-menu3 .review-title .title-btn button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 8px;
}
#contents .inner-menu3 .reivew-content1 {
  width: 100%;
}
#contents .inner-menu3 .reivew-content1 p {
  text-align: center;
  margin: 15px 0;
  color: #18a9f1;
}
#contents .inner-menu3 .reivew-content1 .Box {
  width: 100%;
  height: 200px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 {
  width: 500px;
  display: flex;
  justify-content: center;
  border-right: 2px solid #e5e5e5;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 h2 {
  font-size: 52px;
  font-weight: 700;
  color: #121212;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 .reivewBox1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 .reivewBox1-2 .fi-sr-star {
  font-size: 18px;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 .reivewBox1-2 .fi-sr-star:nth-of-type(1) {
  padding-left: 10px;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 .reivewBox1-2 p {
  margin: 0;
  color: #555;
  font-weight: 500;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox1 .reivewBox1-2 p span {
  font-weight: 500;
  color: #6255F6;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 {
  width: 700px;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-1,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-2,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-3,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-4,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-5 {
  width: 660px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-1 p,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-2 p,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-3 p,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-4 p,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-5 p {
  font-size: 13px;
  font-weight: 500;
  width: 79px;
  color: #999;
  text-align: left;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-1 p span,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-2 p span,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-3 p span,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-4 p span,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-5 p span {
  font-weight: 700;
  color: #000;
}
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-1 div,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-2 div,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-3 div,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-4 div,
#contents .inner-menu3 .reivew-content1 .Box .reivewBox-wrap .reivewBox2 .tableBox2-5 div {
  width: 461px;
  height: 12px;
  background-color: #eee;
  border-radius: 20px;
}
#contents .inner-menu3 .reivew-content2 {
  width: 100%;
  text-align: right;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}
#contents .inner-menu3 .reivew-content2 select {
  width: 80px;
  height: 40px;
  padding: 5px 5px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
}
#contents .inner-menu3 .reivew-content3 {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}
#contents .inner-menu3 .reivew-content3 h3 {
  font-size: 14px;
  color: #555;
}
#contents .inner-menu3 .reivew-content4 {
  width: 100%;
  height: 80px;
  text-align: center;
  padding: 20px 0;
  margin-top: 2%;
  margin-bottom: 5%;
}
#contents .inner-menu3 .reivew-content4 span {
  padding: 6px 14px;
  margin: 0 20px;
  font-size: 20px;
  color: #d7d4d4;
  display: inline;
  cursor: default;
  background-color: #eee;
  border-radius: 5px;
}
#contents .inner-menu3 .reivew-content4 .reivew-prev,
#contents .inner-menu3 .reivew-content4 .reivew-next {
  font-size: 14px;
  color: #d7d4d4;
  cursor: default;
}
#contents .inner-menu4 {
  width: 1280px;
  margin: 0 auto;
}
#contents .inner-menu4 .qa-title {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
}
#contents .inner-menu4 .qa-title h2 {
  font-size: 22px;
  font-weight: 700;
  color: #121212;
}
#contents .inner-menu4 .qa-content {
  width: 100%;
  padding: 56px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contents .inner-menu4 .qa-content p {
  color: #6d6d6d;
  font-size: 13px;
}
#contents .inner-menu4 .qa-btns {
  width: 100%;
  margin-bottom: 5%;
  text-align: right;
}
#contents .inner-menu4 .qa-btns button {
  width: 135px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}
#contents .inner-menu4 .qa-btns .qa-btn1 {
  color: #555;
  border: 1px solid #c7c7c7;
  background-color: #fff;
}
#contents .inner-menu4 .qa-btns .qa-btn1:hover {
  border: 1px solid #000;
}
#contents .inner-menu4 .qa-btns .qa-btn2 {
  margin-left: 6px;
  border: none;
  background-color: #333;
  color: #fff;
}